body {
  text-align: center;
  font-family: Arial;
}

form {
  margin: 20px;
}

input, select, button {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: cyan;
  cursor: pointer;
}

table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

th {
  background-color: black;
  color: white;
}

td, th {
  padding: 10px;
} 

tr:nth-child(even) {
  background-color: rgba(200, 200, 200, 0.5);
}